*{margin:0;padding:0; box-sizing:border-box;}
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

body{font-family: 'Open Sans', sans-serif;}

html {
  scroll-behavior: smooth;
}

.icon-bar{background:#000;}
.firstslide{background:url('../images/big.jpg') no-repeat; background-size:cover; background-attachment:fixed;}
.cover{background:rgba(53,60,68,0.8)}
.navbar-nav li a{color:#fff;}
.navbar-nav li a:hover{color:#f7600e;background:transparent;}
.dthings{text-align:center;background:transparent;}
.things{color:#f7600e;}
.dthings h1{color:white;font-size:42px;font-weight:bold;margin-bottom:0.6em;}
.dthings p{color: #fff; font-size: 16px; width: 55%; margin: 0 auto; line-height: 22px;}
.hirebtn{background: #F7600E; border: none; padding: 0.5em 2em; margin-top: 2em; color:#fff;}

section{padding:1em 0;}
.imageswork img{width:100%;display:block;}
.showmr{text-align:center; margin:0 auto; padding: 0.5em 2em; margin-top: 2em; font-weight:bold;}
.showbtn p{margin: 0 auto; width:147.45px;}
.ourworks,.ourteam{text-align:center; width:60%; margin:0 auto 2em auto;}
.ourworks h2,.ourteam h2,.form h2{text-transform:uppercase; font-weight:bold;}
.ourworks p,.ourteam p,.form p{line-height:20px; font-size:14px;}

.imagesteam img{display:block; width:100%; }
.img-thumbnail{border-radius:20px;}
.thumbnail{text-align:center; transition:all 0.4s; margin:5% 0;}
.thumbnail:hover {transform:scale(1.07);}
.thumbnail:hover img{border-bottom:solid 2px #f7600e; -webkit-filter: grayscale(0%); filter: grayscale(0%);}
.thumbnail img{border-bottom:solid 2px #f7600e; -webkit-filter: grayscale(100%); filter: grayscale(100%);}

.form{color:#fff; background-repeat:no-repeat; background-image: url('../images/contact.png'); background-size:cover;}
.forma{width: 55%; margin:0 auto;}
.hello{width: 35%; margin:0 auto; padding-top:4%}
.hirebtn{margin-bottom:4%;}

footer{background:#3b434c; color:#fff; border-top:2px solid #9da1a6; padding:2% 0;}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

@media screen and (max-width:768px)
{
	.test{background:black}
	.icon-bar{background:white}
}